
.first-color { 
	background: #233142; 
}
	
.second-color { 
	background: #455d7a; 
}

.third-color { 
	background: #f95959; 
}

.fourth-color { 
	background: #e3e3e3; 
}

.fs-25 {
font-size: 25;
}

h1{
	color: #f95959;
}


header{
	color: #f95959;
}

.text-blue {
	color:#233142;
}

.f1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight:bold; 
}
.p-outset {
	border-style: outset;
}

.relative {
	position: relative;
	left: 600px;
	bottom: 140px;

}

